extends layout
block content
    section.about.section.container-fluid
        .container-fluid
            .about-section-title.row
                .col-lg-5.offset-md-1
                    h2.section-title Haqqımızda
                    .section-title-line
            .about-section.row
                .about-img.col-md-5.offset-md-1
                    img.img-fluid(src='img/about.jpg')
                .about-text.col-md-5
                    p
                        strong.about-text-blue ORİENT İnformasiya Texnologiya Mərkəzi
                        |  Azərbaycanda İT sahəsində peşəkar kadrlar yetişdirmək üçün yaradılmış mərkəzdir. Şirkətin əsası 2014-cü ildə qoyulmuşdur.
                        |                 Missiyamız Azərbaycanda İKT sahəsində olan peşəkar kadrların sayını artırmaq, dünyaya inteqrasiya olunmaqdır.
                        |                 Treninqlərimiz həm korporativ şirkətlərlə, həm də qrup və ya fərdi şəkildə digər şəxslərlə aparılır.
                    p
                        | Halhazırda mərkəzimizdə İKT -nin bütün istiqamətləri üzrə tədris aparılır.
                        | Mərkəzimizin məzunu olmuş şəxslər halhazırda İKT - nin müxtəlif  sahələri üzrə fəaliyət göstərirlər.
                    ul
                        li
                            p.about-text-bold
                                strong.about-text-blue
                                    i.fas.fa-check
                                    |  Ən güclü müəllimlər heyəti.
                            p
                                | Kursumuzun fəxri və ən güclü cəhətidir. Öz işlərinin peşəkarları, proqramlaşdırma sahəsində ən azı 6 il iş təcrübəsi, müasir işlənən metodikanı bilmək, proqramlaşdırma sahəsində yüksək kompetensiya və professional mühitdə şəksiz nüfuzlarının olması;
                        li
                            p.about-text-bold
                                strong.about-text-blue
                                    i.fas.fa-check
                                    |  Nəticə üçün çalışmaq.
                            p
                                | Bizim üçün ən vacib olanı – sizin məqsədinizdir. Siz nə istəyirsiniz və təhsilin sonunda nəyə nail olmalısınız.
                                | İstənilən İnformasiya texnologiya mərkəzi insanın həyatında yalnız bir mərhələdir.
                                | Bizim məqsədimiz – sizin tələbinizi aydın bilməkdir, maksimal effektli təhsil verməkdir, nəticədə sizi peşəkar proqramçı kimi yetişdirməkdir.
                                | Bəli, bəli məhz belə - biz sizi proqramçı kimi, yəni müəllimdən asılı olmayan, hər hansı bir şirkətdə sərbəst proqramçı kimi çalışmaq iqtiradırda olan mütəxəssis edəcəyik.
                        li
                            p.about-text-bold
                                strong.about-text-blue
                                    i.fas.fa-check
                                    |  Fərdi yanaşma.
                            p
                                | Müasir texnologiyanın hesabına biz sizin üçün ən münasib olan, sutkada 24 saat qrafiklə çalışırıq.
                                | Proqramın geniş spektri və öyrətmə qaydaları vərdiş etdiyiniz həyat rejimi və işlərinizə uyğun seçim etməyə yarayır.
                                | Bundan əlavə, fərdi yanaşmada siz bizim təkliflərimizi və öz istəklərinizi nəzərə alaraq proqramın məzmununu özünüz müəyyən edirsiniz.