extends layout
block content
    section.companies.section.container-fluid
        .container
            .companies-section-title.row
                .col-lg-7
                    h2.section-title Korporativ mütərilər
                    .section-title-line
            .companies-section.row
                a.company-container.col-lg-3.col-md-4.col-sm-6(href='https://www.nikoil.az/', target='_blank')
                    .companies-image(style='background-image: url("img/companies/nikoil.jpg");')
                        .companies-image-hover-bg
                a.company-container.col-lg-3.col-md-4.col-sm-6(href='https://afb.az/', target='_blank')
                    .companies-image(style='background-image: url("img/companies/afb.jpg");')
                        .companies-image-hover-bg
                a.company-container.col-lg-3.col-md-4.col-sm-6(href='https://aist.group/', target='_blank')
                    .companies-image(style='background-image: url("img/companies/aistt.png");')
                        .companies-image-hover-bg
                a.company-container.col-lg-3.col-md-4.col-sm-6(href='https://www.bankofbaku.com/', target='_blank')
                    .companies-image(style='background-image: url("img/companies/bank_of_baku.jpg");')
                        .companies-image-hover-bg
                a.company-container.col-lg-3.col-md-4.col-sm-6(href='https://www.rabitabank.com/', target='_blank')
                    .companies-image(style='background-image: url("img/companies/rabite.jpg");')
                        .companies-image-hover-bg
                a.company-container.col-lg-3.col-md-4.col-sm-6(href='https://atb.az/', target='_blank')
                    .companies-image(style='background-image: url("img/companies/azerturk.png");')
                        .companies-image-hover-bg