
extends layout
block content
    section.contact.section.container-fluid
        .container-fluid
            .contact-section.row
                .contact-text.col-md-6
                    h2.section-title Əlaqə
                    .section-title-line
                    .row
                        .col.s12
                            form.form.col.s12
                                .row
                                    .input-field.col.s12
                                        i.material-icons.prefix
                                            i.fas.fa-user
                                        input#name.validate(type='text')
                                        label(for='name') Ad Soyad
                                .row
                                    .input-field.col.s12
                                        i.material-icons.prefix
                                            i.fas.fa-phone-alt
                                        input#tel.validate(type='text')
                                        label(for='tel') Telefon
                                .row
                                    .input-field.col.s12
                                        i.material-icons.prefix
                                            i.fas.fa-at
                                        input#email.validate(type='text')
                                        label(for='email') E-mail
                                .row
                                    .input-field.col.s12
                                        i.material-icons.prefix
                                            i.fas.fa-envelope
                                        textarea#message.materialize-textarea
                                        label(for='message') Mesaj
                                .button-section.row
                                    .col.s12
                                        button.contact-btn.btn.col.s12(type='submit')
                                            i.fas.fa-paper-plane
                                            |  Göndər
                .contact-map-section.col-md-6
                    iframe.contact-map.col-md-12(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1519.709787034597!2d49.85417866538371!3d40.37739261297765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d0779993113%3A0x99436d9adfe448ae!2sOrient+ITM!5e0!3m2!1sru!2sru!4v1447317075452', frameborder='0', allowfullscreen='')