doctype html
html
    head
        title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/css/slick.css')
        link(rel='stylesheet', type='text/css', href='/css/slick-theme.css')
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
        section#particles-js
        #applyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='applyModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                form.modal-content.form.col.s12
                    .modal-header
                        h5.modal-title Müraciət et
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true')
                                i.fas.fa-times
                    .modal-body
                        .row
                            .input-field.col.s12
                                i.material-icons.prefix
                                    i.fas.fa-user
                                input#name.validate(type='text')
                                label(for='name') Ad Soyad
                        .row
                            .input-field.col.s12
                                i.material-icons.prefix
                                    i.fas.fa-phone-alt
                                input#tel.validate(type='text')
                                label(for='tel') Telefon
                        .row
                            .input-field.col.s12
                                i.material-icons.prefix
                                    i.fas.fa-at
                                input#email.validate(type='text')
                                label(for='email') E-mail
                        .row
                            .input-field.col.s12
                                i.material-icons.prefix
                                    i.fas.fa-envelope
                                textarea#message.materialize-textarea
                                label(for='message') Mesaj
                        .row
                            .input-field.col.s12
                                i.material-icons.prefix
                                    i.fas.fa-user-graduate
                                select
                                    option(value='', disabled='', selected='') Müraciət etdiyiniz təlim
                                    option(value='1') Java
                                    option(value='2') PL SQL
                                    option(value='3') C#
                    .modal-footer
                        button.apply-btn.btn.btn-primary(type='submit')
                            i.fas.fa-paper-plane
                            |  Göndər
        section.fixed-contact-section
            a.fixed-contact-section-list(href='tel:+994514336451')
                .fixed-contact-section-list-icon-section
                    i.fixed-contact-section-list-icon.fas.fa-mobile-alt
                span.fixed-contact-section-list-text 051 433 64 51
            a.fixed-contact-section-list(href='tel:+994125990420')
                .fixed-contact-section-list-icon-section
                    i.fixed-contact-section-list-icon.fas.fa-phone-volume
                span.fixed-contact-section-list-text 012 599 04 20
            address.fixed-contact-section-list
                .fixed-contact-section-list-icon-section
                    i.fixed-contact-section-list-icon.fas.fa-map-marker-alt
                span.fixed-contact-section-list-text Nizami küç. 203B, AF Business House, 4-cü mərtəbə
        nav.navbar.navbar-expand-lg
            a.navbar-brand(href='/')
                .navbar-brand-bg
                img.navbar-brand-logo.img-fluid(src='img/logo.png')
            button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.icon-span.top-bar
                span.icon-span.middle-bar
                span.icon-span.bottom-bar
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='/') Ana səhifə
                    li.nav-item
                        a.nav-link(href='/about') Haqqımızda
                    li.nav-item
                        a.nav-link(href='/trainings') Təlimlərimiz
                    li.nav-item
                        a.nav-link(href='/mentors') Təlimçilərimiz
                    li.nav-item
                        a.nav-link(href='/students') Tələbələrimiz
                    li.nav-item
                        a.nav-link(href='/companies') Korporativ müştərilərimiz
                    li.nav-item
                        a.nav-link(href='/contact') Əlaqə
        section.header-bg-image
        section.header-bg-color
        header.header
            h1.header-title Lorem ipsum slogan
            // <p class="header-slogan">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero doloremque architecto optio recusandae quia vitae, possimus quae eum magnam non expedita, ea harum, beatae corporis. Delectus corrupti quibusdam sequi esse.</p>
            .header-apply-button-section
                button.header-apply-button(type='button', data-toggle='modal', data-target='#applyModal') MÜRACİƏT ET
        section.services.section.container-fluid
            .services-left-corner
            .services-right-corner
            .container
                h2.section-title Təlimlərimiz
                .section-title-line
                .row.services-card-section
                    .services-card.col-sm-6.col-md-6.col-lg-3
                        a.card(href='#')
                            .java-img-top.card-img-top
                            .card-body
                                h5.card-title
                                    strong Java
                                p.card-text
                                    span.card-list
                                        strong Müddəti: 
                                        | 6 ay
                                    span.card-list
                                        strong Ödəniş: 
                                        | 140 AZN/ay
                                    span.card-list
                                        strong Təlimçi: 
                                        | Fuad Paşabəyli
                                    span.card-list
                                        i.fas.fa-clock
                                        |  4 saat/həftə
                    .services-card.col-sm-6.col-md-6.col-lg-3
                        a.card(href='#')
                            .c-sharp-img-top.card-img-top
                            .card-body
                                h5.card-title
                                    strong C#
                                p.card-text
                                    span.card-list
                                        strong Müddəti: 
                                        | 6 ay
                                    span.card-list
                                        strong Ödəniş: 
                                        | 140 AZN/ay
                                    span.card-list
                                        strong Təlimçi: 
                                        | Ehtiram Hacıxanov
                                    span.card-list
                                        i.fas.fa-clock
                                        |  4 saat/həftə
                    .services-card.col-sm-6.col-md-6.col-lg-3
                        a.card(href='#')
                            .plsql-img-top.card-img-top
                            .card-body
                                h5.card-title
                                    strong PL-SQL
                                p.card-text
                                    span.card-list
                                        strong Müddəti: 
                                        | 1 ay
                                    span.card-list
                                        strong Ödəniş: 
                                        | 220 AZN/ay
                                    span.card-list
                                        strong Təlimçi: 
                                        | Şahin Kərimov
                                    span.card-list
                                        i.fas.fa-clock
                                        |  4 saat/həftə
                    .services-card.col-sm-6.col-md-6.col-lg-3
                        a.card(href='#')
                            .html-img-top.card-img-top
                            .card-body
                                h5.card-title
                                    strong HTML
                                p.card-text
                                    span.card-list
                                        strong Müddəti: 
                                        | 1 ay
                                    span.card-list
                                        strong Ödəniş: 
                                        | 140 AZN/ay
                                    span.card-list
                                        strong Təlimçi: 
                                        | Taleh Fərzəliyev
                                    span.card-list
                                        i.fas.fa-clock
                                        |  4 saat/həftə
                .hidden-services
                    .row
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .css-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong CSS
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 1 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 140 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Taleh Fərzəliyev
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .electronics-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong Elektronika
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 1 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 130 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Rüfət Əliyev
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .php-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong PHP
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 3 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 140 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Taleh Fərzəliyev
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .oracle-sql-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong Oracle SQL
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 4 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 220 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Şahin Kərimov
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                    .row
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .photoshop-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong Photoshop
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 2 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 90 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Təhminə Ələkbərova
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .helpdesk-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong Texniki Xidmət və Diaqnoztika
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 2 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 130 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Rüfət Əliyev
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .javascript-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong Javascript & jQuery
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 1 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 140 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Taleh Fərzəliyev
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .ajax-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong Ajax
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 1 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 140 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Taleh Fərzəliyev
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                    .row
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .coreldraw-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong CorelDraw
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 1 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 90 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Təminə Ələkbərova
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .windows-server-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong Windows Server
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 3 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 160 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Fizuli Mahmudov
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .network-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong Şəbəkə xidməti və Diaqnoztika
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 1 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 130 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Rüfət Əliyev
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                        .services-card.col-sm-6.col-md-6.col-lg-3
                            a.card(href='#')
                                .microsoft-exchange-img-top.card-img-top
                                .card-body
                                    h5.card-title
                                        strong Microsoft Exchange Server
                                    p.card-text
                                        span.card-list
                                            strong Müddəti: 
                                            | 3 ay
                                        span.card-list
                                            strong Ödəniş: 
                                            | 160 AZN/ay
                                        span.card-list
                                            strong Təlimçi: 
                                            | Fizuli Mahmudov
                                        span.card-list
                                            i.fas.fa-clock
                                            |  4 saat/həftə
                .row
                    button.show-hidden-services.btn
                        i.fas.fa-arrow-down
                        |  BÜTÜN XİDMƏTLƏRƏ BAX
        section.feedbacks.section.container-fluid
            .feedbacks-left-corner
            .container
                h2.section-title Tələbələrimiz
                .section-title-line
                .feedbacks-slick-container
                    .feedback-item.col-md-12
                        .student-image-container
                        h4.student-name-container Aysel Məmmədrzayeva
                        p.student-job-container Full-stack web developer
                        p.student-feedback-container
                            i.fas.fa-quote-left.feedback-quote-left
                            span.student-feedback-content
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris varius ut urna a ultrices. Donec fermentum augue id vulputate feugiat. Aenean eget malesuada metus. Praesent eget porta purus. Curabitur placerat, felis ullamcorper euismod vulputate, nunc urna mollis ipsum, at consequat lorem ex eget lorem. Sed convallis, odio vel fermentum pulvinar, nisl erat posuere sem, accumsan commodo dui massa eu est. Duis rhoncus nec massa eu efficitur. Nulla interdum orci at consequat cursus. Mauris id blandit nibh, a eleifend ligula. Aenean feugiat quis lectus eget tincidunt. Mauris vitae aliquet purus, ut euismod risus. Ut eu felis nec nisl fermentum placerat.
                            i.fas.fa-quote-right.feedback-quote-right
                    .feedback-item.col-md-12
                        .student-image-container
                        h4.student-name-container Aysel Məmmədrzayeva
                        p.student-job-container Full-stack web developer
                        p.student-feedback-container
                            i.fas.fa-quote-left.feedback-quote-left
                            span.student-feedback-content
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris varius ut urna a ultrices. Donec fermentum augue id vulputate feugiat. Aenean eget malesuada metus. Praesent eget porta purus. Curabitur placerat, felis ullamcorper euismod vulputate, nunc urna mollis ipsum, at consequat lorem ex eget lorem. Sed convallis, odio vel fermentum pulvinar, nisl erat posuere sem, accumsan commodo dui massa eu est. Duis rhoncus nec massa eu efficitur. Nulla interdum orci at consequat cursus. Mauris id blandit nibh, a eleifend ligula. Aenean feugiat quis lectus eget tincidunt. Mauris vitae aliquet purus, ut euismod risus. Ut eu felis nec nisl fermentum placerat.
                            i.fas.fa-quote-right.feedback-quote-right
                    .feedback-item.col-md-12
                        .student-image-container
                        h4.student-name-container Aysel Məmmədrzayeva
                        p.student-job-container Full-stack web developer
                        p.student-feedback-container
                            i.fas.fa-quote-left.feedback-quote-left
                            span.student-feedback-content
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris varius ut urna a ultrices. Donec fermentum augue id vulputate feugiat. Aenean eget malesuada metus. Praesent eget porta purus. Curabitur placerat, felis ullamcorper euismod vulputate, nunc urna mollis ipsum, at consequat lorem ex eget lorem. Sed convallis, odio vel fermentum pulvinar, nisl erat posuere sem, accumsan commodo dui massa eu est. Duis rhoncus nec massa eu efficitur. Nulla interdum orci at consequat cursus. Mauris id blandit nibh, a eleifend ligula. Aenean feugiat quis lectus eget tincidunt. Mauris vitae aliquet purus, ut euismod risus. Ut eu felis nec nisl fermentum placerat.
                            i.fas.fa-quote-right.feedback-quote-right
                .row
                    button.more-students-button
                        a.more-students-link(href='students') BÜTÜN TƏLƏBƏLƏR
        include common/footer
        script(src='https://kit.fontawesome.com/a076d05399.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
        script(src='/particles.js')
        script(src='/js/app.js')
        script(src='/js/slick.js')
        script(src='/js/main.js')
        script(src='/js/url.js')

    
