extends layout
block content
    section.mentors.section.container-fluid
        .container
            .mentors-section-title.row
                .col-lg-6
                    h2.section-title Təlimçilər
                    .section-title-line
            .mentors-section.row
                a.mentor-container.col-lg-3.col-md-4.col-sm-6(href='/mentor')
                    .mentors-image(style='background-image: url("img/mentors/taleh-alqayev.jpg")')
                        .mentors-image-hover-bg
                    .mentors-description
                        p.mentors-name Taleh Alqayev
                        p.mentors-job Böyük proqramçı
                        p.mentors-workplace Elektron Hökümətin İnkişafı Mərkəzi
                a.mentor-container.col-lg-3.col-md-4.col-sm-6(href='/mentor')
                    .mentors-image(style='background-image: url("img/mentors/taleh-alqayev.jpg")')
                        .mentors-image-hover-bg
                    .mentors-description
                        p.mentors-name Taleh Alqayev
                        p.mentors-job Böyük proqramçı
                        p.mentors-workplace Elektron Hökümətin İnkişafı Mərkəzi
                a.mentor-container.col-lg-3.col-md-4.col-sm-6(href='/mentor')
                    .mentors-image(style='background-image: url("img/mentors/taleh-alqayev.jpg")')
                        .mentors-image-hover-bg
                    .mentors-description
                        p.mentors-name Taleh Alqayev
                        p.mentors-job Böyük proqramçı
                        p.mentors-workplace Elektron Hökümətin İnkişafı Mərkəzi
                a.mentor-container.col-lg-3.col-md-4.col-sm-6(href='/mentor')
                    .mentors-image(style='background-image: url("img/mentors/taleh-alqayev.jpg")')
                        .mentors-image-hover-bg
                    .mentors-description
                        p.mentors-name Taleh Alqayev
                        p.mentors-job Böyük proqramçı
                        p.mentors-workplace Elektron Hökümətin İnkişafı Mərkəzi
                a.mentor-container.col-lg-3.col-md-4.col-sm-6(href='/mentor')
                    .mentors-image(style='background-image: url("img/mentors/taleh-alqayev.jpg")')
                        .mentors-image-hover-bg
                    .mentors-description
                        p.mentors-name Taleh Alqayev
                        p.mentors-job Böyük proqramçı
                        p.mentors-workplace Elektron Hökümətin İnkişafı Mərkəzi
                a.mentor-container.col-lg-3.col-md-4.col-sm-6(href='/mentor')
                    .mentors-image(style='background-image: url("img/mentors/taleh-alqayev.jpg")')
                        .mentors-image-hover-bg
                    .mentors-description
                        p.mentors-name Taleh Alqayev
                        p.mentors-job Böyük proqramçı
                        p.mentors-workplace Elektron Hökümətin İnkişafı Mərkəzi