extends layout
block content
    section.mentor.section.container-fluid
        .container
            .mentor-section-title.row
                .col-lg-6
                    h2.section-title Taleh Alqayev
                    .section-title-line
            .mentor-section.row
                .image-container.col-md-5.col-lg-7
                    img.col-md-12(src='img/mentors/taleh-alqayev.jpg')
                    h3.mentor-profession.col-md-12
                        a.mentor-training(href='#') Java
                        |  Developer
                .resume-container.col-md-7.col-lg-5
                    .resume-container-work
                        .resume-container-work-icon
                            i.fas.fa-briefcase
                        ul.resume-container-work-content
                            li.resume-work-section
                                span.resume-job-title Java devoloper
                                span.resume-workplace-title GoldenPay
                                span.resume-interval-title 2014 - cari vaxt
                            li.resume-work-section
                                span.resume-job-title Developer
                                span.resume-workplace-title Statistika komitəsi
                                span.resume-interval-title 2007 - 2013
                    .resume-container-education
                        .resume-container-education-icon
                            i.fas.fa-graduation-cap
                        ul.resume-container-education-content
                            li.resume-education-section
                                span.resume-profession-title Kompüter Elmləri
                                span.resume-university-title Bakı Dövlət Universiteti
                                span.resume-degree-title Bakalavr
                                span.resume-interval-title 2007 - 2013