extends layout
block content
    section.students.section.container-fluid
        .students-right-corner
        .container
            h2.section-title Tələbələrimiz
            .section-title-line
            .students-container.container
                .student-item.student-item-left.row
                    .student-image-section.col-md-3
                        .student-image.col-md-12
                    .student-feedback-section.col-md-9
                        h4.student-name-container Aysel Məmmədrzayeva
                        p.student-job-container Full-stack web developer
                        p.student-feedback-container
                            i.fas.fa-quote-left.feedback-quote-left
                            span.student-feedback-content
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris varius ut urna a ultrices. Donec fermentum augue id vulputate feugiat. Aenean eget malesuada metus. Praesent eget porta purus. Curabitur placerat, felis ullamcorper euismod vulputate, nunc urna mollis ipsum, at consequat lorem ex eget lorem. Sed convallis, odio vel fermentum pulvinar, nisl erat posuere sem, accumsan commodo dui massa eu est. Duis rhoncus nec massa eu efficitur. Nulla interdum orci at consequat cursus. Mauris id blandit nibh, a eleifend ligula. Aenean feugiat quis lectus eget tincidunt. Mauris vitae aliquet purus, ut euismod risus. Ut eu felis nec nisl fermentum placerat.
                            i.fas.fa-quote-right.feedback-quote-right
                .student-item.student-item-right.row
                    .student-image-section.col-md-3
                        .student-image.col-md-12
                    .student-feedback-section.col-md-9
                        h4.student-name-container Aysel Məmmədrzayeva
                        p.student-job-container Full-stack web developer
                        p.student-feedback-container
                            i.fas.fa-quote-left.feedback-quote-left
                            span.student-feedback-content
                                | urabitur placerat, felis ullamcorper euismod vulputate, nunc urna mollis ipsum, at consequat lorem ex eget lorem. Sed convallis, odio vel fermentum pulvinar, nisl erat posuere sem, accumsan commodo dui massa eu est. Duis rhoncus nec massa eu efficitur. Nulla interdum orci at consequat cursus. Mauris id blandit nibh, a eleifend ligula. Aenean feugiat quis lectus eget tincidunt. Mauris vitae aliquet purus, ut euismod risus. Ut eu felis nec nisl fermentum placerat.
                            i.fas.fa-quote-right.feedback-quote-right
                .student-item.student-item-left.row
                    .student-image-section.col-md-3
                        .student-image.col-md-12
                    .student-feedback-section.col-md-9
                        h4.student-name-container Aysel Məmmədrzayeva
                        p.student-job-container Full-stack web developer
                        p.student-feedback-container
                            i.fas.fa-quote-left.feedback-quote-left
                            span.student-feedback-content
                                | Nulla interdum orci at consequat cursus. Mauris id blandit nibh, a eleifend ligula. Aenean feugiat quis lectus eget tincidunt. Mauris vitae aliquet purus, ut euismod risus. Ut eu felis nec nisl fermentum placerat.
                            i.fas.fa-quote-right.feedback-quote-right