extends layout
block content
    section.training.section.container-fluid
        .container
            .training-section-title.row
                .col-lg-6
                    h2.section-title Java
                    .section-title-line
            .training-section.row
                .col-md-5.training-image-container
                    .training-image
                .training-program.col-md-7
                    h2.training-program-title Təlim haqqında
                    p.training-program-content
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, ullam placeat. Voluptate nesciunt repudiandae fugiat nulla! Eos doloremque eius laborum cumque dicta, laudantium ut perferendis maxime! Consequatur error dolorem porro?
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam odio nam praesentium. Repudiandae ea facilis, minus exercitationem autem tenetur enim minima. Esse nemo voluptatibus dolor. Architecto soluta modi id pariatur!
                        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi assumenda dolorum quibusdam eveniet. Illum id odio odit facilis repellendus? Repellendus eum accusamus accusantium dolorum eos officiis rem soluta voluptatem unde.
                        | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi assumenda dolorum quibusdam eveniet. Illum id odio odit facilis repellendus? Repellendus eum accusamus accusantium dolorum eos officiis rem soluta voluptatem unde.
                .syllabus.col-md-12
                    .syllabus-container-item
                        .syllabus-container-icon
                        ul.syllabus-container-content
                            h4.paragraph-title Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            li.paragraph-content
                                i.paragraph-content-icon.fas.fa-check
                                span
                                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea eum repudiandae similique fugiat, voluptatum quasi reiciendis esse deleniti dolores nisi magni perspiciatis. Dicta deserunt, minus rem quam incidunt suscipit expedita!
                            li.paragraph-content
                                i.paragraph-content-icon.fas.fa-check
                                span
                                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea eum repudiandae similique fugiat, voluptatum quasi reiciendis esse deleniti dolores nisi magni perspiciatis. Dicta deserunt, minus rem quam incidunt suscipit expedita!
                            li.paragraph-content
                                i.paragraph-content-icon.fas.fa-check
                                span
                                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea eum repudiandae similique fugiat, voluptatum quasi reiciendis esse deleniti dolores nisi magni perspiciatis. Dicta deserunt, minus rem quam incidunt suscipit expedita!
                    .syllabus-container-item
                        .syllabus-container-icon
                        ul.syllabus-container-content
                            h4.paragraph-title Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            li.paragraph-content
                                i.paragraph-content-icon.fas.fa-check
                                span
                                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea eum repudim quasi reiciendis esse deleniti dolores nisi magni perspiciatis. Dicta deserunt, minus rem quam incidunt suscipit expedita!
                            li.paragraph-content
                                i.paragraph-content-icon.fas.fa-check
                                span
                                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea eum repudiandae similique fugiat, voluptatum quasi reiciendis esse deleniti dolores nisi magni perspiciatis. Dicta deserunt, minus rem quam incidunt suscipit expedita!
                            li.paragraph-content
                                i.paragraph-content-icon.fas.fa-check
                                span
                                    | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea eum repudiandae similique fugiat, voluptatum quasi reiciendis esse deleniti dolores nisi magni perspiciatis. Dicta deserunt, minus rem quam incidunt suscipit expedita!
block append script
    script(src='/js/training.js')