extends layout
block content
    section.trainings.section.container-fluid
        .container
            .trainings-section-title.row
                .col-lg-6
                    h2.section-title Təlimlər
                    .section-title-line
            .trainings-section.row
                #programming.training-container.col-md-3.col-lg-2
                    .trainings-section-icon-container
                        i.trainings-section-icon.fas.fa-laptop-code
                .programming.sub-training-container.col-md-3.col-lg-2
                    .trainings-section-title Proqramlaşdırma
                    ul
                        li
                            a.sub-training-link(href='/training') Java
                        li
                            a.sub-training-link(href='/training') C#
                        li
                            a.sub-training-link(href='/training') JavaServer Faces
                        li
                            a.sub-training-link(href='/training') Delphi
                        li
                            a.sub-training-link(href='/training') C++
                #mobile-programming.training-container.col-md-3.col-lg-2
                    .trainings-section-icon-container
                        i.trainings-section-icon.fas.fa-mobile-alt
                .mobile-programming.sub-training-container.col-md-3.col-lg-2
                    .trainings-section-title Mobil proqramlaşdırma
                    ul
                        li
                            a.sub-training-link(href='/training') Android
                        li
                            a.sub-training-link(href='/training') Objective-C
                        li
                            a.sub-training-link(href='/training') Windows Phone
                #web.training-container.col-md-3.col-lg-2
                    .trainings-section-icon-container
                        i.trainings-section-icon.fas.fa-file-code
                .web.sub-training-container.col-md-3.col-lg-2
                    .trainings-section-title Web texnologiyalar
                    ul
                        li
                            a.sub-training-link(href='/training') HTML
                        li
                            a.sub-training-link(href='/training') CSS
                        li
                            a.sub-training-link(href='/training') PHP
                        li
                            a.sub-training-link(href='/training') Javascript & jQuery
                        li
                            a.sub-training-link(href='/training') Ajax
                #database.training-container.col-md-3.col-lg-2
                    .trainings-section-icon-container
                        i.trainings-section-icon.fas.fa-database
                .database.sub-training-container.col-md-3.col-lg-2
                    .trainings-section-title Verilənlər bazası
                    ul
                        li
                            a.sub-training-link(href='/training') PL-SQL
                        li
                            a.sub-training-link(href='/training') Oracle SQL
                        li
                            a.sub-training-link(href='/training') MySQL
                        li
                            a.sub-training-link(href='/training') SQL Server
                #design.training-container.col-md-3.col-lg-2
                    .trainings-section-icon-container
                        i.trainings-section-icon.fas.fa-object-group
                .design.sub-training-container.col-md-3.col-lg-2
                    .trainings-section-title Web dizayn
                    ul
                        li
                            a.sub-training-link(href='/training') AutoCard
                        li
                            a.sub-training-link(href='/training') 3ds Max
                        li
                            a.sub-training-link(href='/training') PhotoShop
                        li
                            a.sub-training-link(href='/training') CorelDraw
                #it.training-container.col-md-3.col-lg-2
                    .trainings-section-icon-container
                        i.trainings-section-icon.fas.fa-laptop
                .it.sub-training-container.col-md-3.col-lg-2
                    .trainings-section-title IT xidməti
                    ul
                        li
                            a.sub-training-link(href='/training') Elektronika
                        li
                            a.sub-training-link(href='/training') Texniki xidmət və Diaqnostika
                        li
                            a.sub-training-link(href='/training') Şəbəkə xidməti və Diaqnostika
                #network.training-container.col-md-3.col-lg-2
                    .trainings-section-icon-container
                        i.trainings-section-icon.fas.fa-network-wired
                .network.sub-training-container.col-md-3.col-lg-2
                    .trainings-section-title Sistem və şəbəkə
                    ul
                        li
                            a.sub-training-link(href='/training') Windows Server
                        li
                            a.sub-training-link(href='/training') Microsoft Exchange Server
                        li
                            a.sub-training-link(href='/training') Cisco