.footer {
    background: $main-color;
    padding-top: 50px;
    padding-bottom: 65px;
    color: #EEEEEE;
    font-family: 'Roboto-Light', sans-serif;
    &-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-list {
        display: inline-flex;
        align-items: center;
        margin-bottom: 0;
        color: #EEEEEE;
        margin-bottom: 5px;
        &-icon {
            font-size: 1.3rem;
            &-section {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #ffffff;
                @include border-radius(5px);
                height: 40px;
                width: 40px;
                text-align: center;
                margin-right: 10px;
                flex-shrink: 0;
            }
        }
        &-text {
            font-size: 1.4rem;
        }
        &:not(address):hover {
            text-decoration: none;
            .footer-list-text {
                color: #ffffff;
            }
            .footer-list-icon-section {
                background: #ffffff;
                .footer-list-icon {
                    color: $main-color;
                }
            }
        }
    }
    &-buttons {
        font-size: 40px;
        color: #EEEEEE;
        margin-right: 5px;
        &:hover {
            text-decoration: none;  
            color: #ffffff;
        }
    }
    &-buttons-section {
        margin-top: 40px;
    }
    &-copyright {
        font-size: 1.4rem;
        margin-top: 40px;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        &-list-text {
            font-size: 1rem;    
        }
    }
}