.fixed-contact-section {
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 105;
    padding-right: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &-list {
        display: flex;
        align-items: center;
        color: $main-color;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        &-icon {
            font-size: 1.4rem;
            &-section {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                width: 30px;
                flex-shrink: 0;
            }
        }
        &-text {
            font-size: 0.8rem;
        }
        &:hover {
            text-decoration: none;
            .fixed-contact-section-list-text {
                color: $main-color;
            }
            .fixed-contact-section-list-icon-section {
                .fixed-contact-section-list-icon {
                    color: $main-color;
                }
            }
        }
    }
    address.fixed-contact-section-list {
        flex-grow: 0; 
    }
}
#applyModal {
   .modal-dialog {
       margin: 0; 
       width: 100%;
    .modal-content {
        padding: 0 !important;
        .modal-header {
            display: flex;
            align-items: center;
            background: $main-color;
            .modal-title {
                margin: 0 auto;
                color: #FFFFFF;
                font-size: 2rem;
            }
            .close {
                margin-left: 0;
                color: #FFFFFF;
                background: transparent;
            }
        }
        .modal-body {
            .material-icons {
                color: $main-color;
            }
            label {
                color: rgba(23, 95, 130, .85);
                left: 0.75rem;
            }
            .validate {
                border-bottom: 1px solid $main-color;
                &:not(.select-dropdown) {
                    margin-left: 2.7rem;
                }
                &:focus {
                    border-bottom: 1px solid $main-color;
                    box-shadow:  0 1px 0 0 $main-color;
                }
            }
            .materialize-textarea {
                border-bottom: 1px solid $main-color;
                margin-left: 2.7rem;
                &:focus {
                    border-bottom: 1px solid $main-color;
                    box-shadow:  0 1px 0 0 $main-color;
                }
            }
        }
        .modal-footer {
            justify-content: center;
            align-items: center;
            padding-bottom: 40px;
            .apply-btn {
                height: auto;
                line-height: auto;
                color: $main-color;
                @include border-radius(28px);
                background: transparent;
                font-weight: normal;
                padding: 10px 30px;
                font-size: 1.6rem;
                border: 2px solid $main-color;
                text-transform: none !important;
                &:hover {
                    background-color: $main-color;
                    color: #FFFFFF;
                    cursor: pointer;
                }
                &:focus {
                    background-color: $main-color;
                    color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }
    }
   }
}
.header {
    box-sizing: border-box;
    // padding-top: 120px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    &-title {
        color: #FFFFFF;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.4rem;
        font-family: 'Raleway', sans-serif;
    }
    &-slogan {
        color: #FFFFFF;
        font-weight: lighter;
        text-align: center;
        font-size: 1.3rem;
        font-family: 'Raleway', sans-serif;
    }
    &-apply-button {
        height: auto;
        line-height: auto;
        margin: 40px auto 0;
        color: #FFFFFF;
        // border-radius: 28px;
        background: #FFFFFF;
        color: $main-color;
        font-weight: normal;
        padding: 10px 30px;
        font-size: 1.6rem;
        border: 2px solid #FFFFFF;
        text-transform: none !important;
        &:hover {
            text-decoration: none;
            background-color: #FFFFFF;
            color: $main-color;
            cursor: pointer;
        }
        &:focus {
            background-color: #FFFFFF;
            color: $main-color;
            cursor: pointer;
        }
        &-section {
            z-index: 80;
            position: relative;
            // &::before {
            //     position: relative;
            //     top: 8.5px;
            //     left: 23px;
            //     content: "";
            //     display: none;
            //     height: 37.4px;
            //     width: 37.4px;
            //     border-left: 2px solid #FFFFFF;
            //     border-top: 2px solid transparent;
            //     border-right: 2px solid transparent;
            //     border-bottom: 2px solid #FFFFFF;
            //     @include rotate(45deg);
            //     background: #FFFFFF;
            // }
            // &::after {
            //     position: relative;
            //     top: 8.5px;
            //     left: -23px;
            //     content: "";
            //     display: none;
            //     height: 37.4px;
            //     width: 37.4px;
            //     border-right: 2px solid #FFFFFF;
            //     border-bottom: 2px solid transparent;
            //     border-left: 2px solid transparent;
            //     border-top: 2px solid #FFFFFF;
            //     @include rotate(45deg);
            //     background: #FFFFFF;
            // }
        }
    }
    &-bg-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        // height: calc(100vh - 120px);
        background: url("../img/header.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        z-index: -2;
    }
    &-bg-color {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        // height: calc(100vh - 120px);
        background: $main-color;
        opacity: 0.7;
        z-index: -2;
    }
}
.services {
    box-shadow: 0 0 10px 10px rgba(0,0,0,.5);
    position: relative;
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    &-left-corner {
        position: absolute;
        top: 0;
        left: 0;
        border-top: 100px solid $main-color;
        border-left: 100px solid $main-color;
        border-bottom: 100px solid transparent;
        border-right: 100px solid transparent;
    }
    &-right-corner {
        position: absolute;
        right: 0;
        bottom: -1px;
        border-right: 100px solid $main-color;
        border-bottom: 100px solid $main-color;
        border-top: 100px solid transparent;
        border-left: 100px solid transparent;
    }
    .section-title {
        margin-left: -15px;
        margin-right: -15px;
        // margin-right: -15px;
        font-size: 2.5rem;
    }
    &-card-section {
        margin-top: 60px;
    }
    &-card {
        display: block;
        padding: 0 !important;
        .card {
            text-align: center;
            @include border-radius(0);
            height: 100% !important; 
            &-img-top {
                display: block;
                position: relative;
                width: 100%;
                padding-bottom: 100%;
                background-position: center;
                background-size: 50%;
                background-repeat: no-repeat;
            }
            .java-img-top {
                background-image: url("../img/logos/java.png");
            }
            .plsql-img-top {
                background-image: url("../img/logos/oracle-plsql.jpg");
            }
            .c-sharp-img-top {
                background-image: url("../img/logos/c-sharp.png");
            }
            .html-img-top {
                background-image: url("../img/logos/html.png");
            }
            .css-img-top {
                background-image: url("../img/logos/css.png");
            }
            .electronics-img-top {
                background-image: url("../img/logos/electronics.png");
            }
            .php-img-top {
                background-image: url("../img/logos/php.png");
            }
            .oracle-sql-img-top {
                background-image: url("../img/logos/oracle-sql.png");
            }
            .photoshop-img-top {
                background-image: url("../img/logos/photoshop.png");
            }
            .helpdesk-img-top {
                background-image: url("../img/logos/helpdesk.png");
            }
            .javascript-img-top {
                background-image: url("../img/logos/javascript.png");
            }
            .ajax-img-top {
                background-image: url("../img/logos/ajax.png");
            }
            .coreldraw-img-top {
                background-image: url("../img/logos/coreldraw.png");
            }
            .network-img-top {
                background-image: url("../img/logos/network.png");
            }
            .windows-server-img-top {
                background-image: url("../img/logos/windows-server.png");
            }
            .microsoft-exchange-img-top {
                background-image: url("../img/logos/microsoft-exchange.png");
            }
            &-body {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #FFFFFF; //temporary
                // background-color: $main-color;
                background: rgba(23, 95, 130, .9);
                opacity: 0;
                transition: all .7s;
            }
            &-list {
                display: block;
                line-height: 1.8rem;
                font-weight: lighter;
            }
            &-body:hover {
                opacity: 1 !important;
                cursor: pointer;
                background: rgba(51,51,51, 0.9);
                color: #FFFFFF;
                // background: rgba(255, 255, 255, .6);
                // color: $main-color;
            }
        }
    }
    .show-hidden-services {
        height: auto;
        line-height: auto;
        margin: 40px auto 0;
        color: #FFFFFF;
        @include border-radius(28px);
        background: $main-color;
        font-weight: normal;
        font-size: .8rem;
        padding: 10px;
        border: 2px solid $main-color;
        text-transform: none !important;
        &:hover {
            background-color: $main-color;
            color: #FFFFFF;
            cursor: pointer;
        }
        &:focus {
            background-color: $main-color;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}
.feedbacks {

    position: relative;
    min-height: 100vh;
    background: #FFFFFF;
    .section-title {
        margin-left: -15px;
        margin-right: -15px;
        font-size: 2.5rem;
    }
    .feedbacks-slick-container {
        overflow: hidden;
        margin-top: 60px !important;
        display: flex;
        align-items: center;
        position: relative;
        text-align: justify !important;
        .feedback-item {
            font-size: 1rem;
            font-family: "Raleway", sans-serif;
            color: #444444;
        }
        .slick-list.draggable {
            margin-bottom: 50px;
        }
        .feedback-quote-left, .feedback-quote-right {
            font-size: 2.4rem;
            color: rgba(23, 95, 130, .7) !important;
        }
        .feedback-quote-left {
            float: left;
            padding-right: 7px;
            padding-bottom: 0px;
            margin-top: -16px;
        }
        .feedback-quote-right {
            float: right;
            clear: both;
            padding-left: 7px;
        }
        .student-feedback-content {
        }
        .slick-arrow {
            font-size: 3rem;
            &.fa-arrow-left {
                padding-right: 30px;
            }
            &.fa-arrow-right {
                padding-left: 30px;
            }
        }
        .slick-dots {
            li[role = "presentation"] {
                width: auto;
                height: auto;
                button {
                    width: 35px !important;
                    height: 4px !important;
                    background: rgba(23, 95, 130, .5) !important;
                    padding: 0 !important;
                    &::before {
                        content: none !important;
                    } 
                }
                &.slick-active {
                    background: $main-color !important;
                }
            }
        }
        .student-image-container {
            margin: 0 auto;
            box-sizing: border-box;
            width: 100%;
            padding-bottom: 100%;
            background-image: url("../img/feedback-image.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 15px;
        }
        .student-name-container {
            font-size: 2rem;
            color: $main-color;
            text-align: left;
        }
        .student-job-container {
            font-size: 1.4rem;
            color: #666666;
            margin-bottom: 30px;
            text-align: left;
        }
    }
     &-left-corner {
        position: absolute;
        bottom: -1px;
        left: 0;
        border-top: 100px solid transparent;
        border-left: 100px solid $main-color;
        border-bottom: 100px solid $main-color;
        border-right: 100px solid transparent;
    }
    .more-students-button {
        height: auto;
        line-height: auto;
        margin: 40px auto 0;
        color: $main-color;
        @include border-radius(28px);
        font-weight: normal;
        font-size: .8rem;
        padding: 10px;
        background: transparent;
        border: 2px solid $main-color;
        text-transform: none !important;
        font-family: "Roboto", sans-serif;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        &:hover {
            background-color: $main-color;
            .more-students-link {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
        &:focus {
            background-color: $main-color;
            .more-students-link {
                color: #FFFFFF;
            }
        }
        .more-students-link {
            color: $main-color;
        }
    }
}
@media screen and (min-width: 350px) {
    .header-apply-button-section {
        &::before {
            display: inline-block;
        }
        &::after {
            display: inline-block;
        }
    }
}
@media screen and (min-width: 370px) {
    .fixed-contact-section { 
        justify-content: flex-end;

    }
    address.fixed-contact-section-list {
        flex-grow: 1; 
        justify-content: flex-start;
    }
}
@media screen and (min-width: 350px) and (max-width: 450px) {
    .services {
        .section-title {
            font-size: 3rem;
        }
        .show-hidden-services {
            padding: 10px 20px;
            font-size: 1rem;
        }
    }
    .feedbacks {
        .section-title {
            font-size: 3rem;
        }
        .more-students-button {
            padding: 10px 20px;
            font-size: 1rem;
        }
    }
}
@media screen and (min-width: 451px) and (max-width: 575px) {
    .services {
        .show-hidden-services {
            padding: 10px 20px;

            font-size: 1.2rem;
        }
    }
    .feedbacks {
        .more-students-button {
            padding: 10px 20px;
            font-size: 1.2rem;
        }
    }
}
@media screen and  (min-height: 683px) { 
    #applyModal {
        &.show {
            .modal-dialog {
                margin-top: calc((100vh - 683px) / 2);
            }
        }
    }
}
@media screen and (min-width: 576px) {
    #applyModal {
        &.show {
            .modal-dialog {
                margin-left: auto;
                margin-right: auto;  
            }
        }
    }  
}
@media screen and (min-width: 576px) and (max-width: 767px) {  
    .header {
        // padding: 20px;
        &-title {
            font-size: 2rem;
        }
        &-slogan {
            font-size: 1.6rem;
        }
    }
    .services {
        .show-hidden-services {
            padding: 10px 20px;
            font-size: 1.3rem;
        }
    }
    .feedbacks {
        .more-students-button {
            padding: 10px 20px;
            font-size: 1.3rem;
        }
    }
}
// @media screen and (max-width: 767px) { 

// }
@media screen and (min-width: 768px)  {
    .fixed-contact-section {
        address.fixed-contact-section-list {
            flex-grow: 0;
        }
    }
    .feedbacks {
        .feedbacks-slick-container {
            .feedback-item {
                padding: 0 25px !important;
            }
            .student-image-container {
                width: 50%;
                padding-bottom: 50%;
                @include border-radius(50%);
            }
            .student-name-container {
                text-align: center;
            }
            .student-job-container {
                text-align: center;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {  
    .header {
        // padding: 20px;
        &-title {
            font-size: 2rem;
        }
        &-slogan {
            font-size: 1.6rem;
        }
    }
    .services {
        .section-title {
            font-size: 3rem;
        }
        .show-hidden-services {
            padding: 10px 25px;
            font-size: 1.4rem;
        }
    }
    .feedbacks {
        .section-title {
            font-size: 3rem;
        }
        .more-students-button {
            padding: 10px 25px;
            font-size: 1.4rem;
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header {
        padding: 50px;
        &-title {
            font-size: 3rem;
        }
        &-slogan {
            font-size: 2rem;
        }
    }
    .services {
        .section-title {
            font-size: 3.5rem;
        }
        .show-hidden-services {
            padding: 10px 25px;
            font-size: 1.5rem;
        }
    }
    .feedbacks {
        .section-title {
            font-size: 3.5rem;
        }
        .more-students-button {
            padding: 10px 25px;
            font-size: 1.5rem;
        }
    }
}
@media screen and (max-width: 1100px) {
    .services {
        &-left-corner {
            border-top: 70px solid $main-color;
            border-left: 70px solid $main-color;
            border-bottom: 70px solid transparent;
            border-right: 70px solid transparent;
        }
        &-right-corner {
            border-right: 70px solid $main-color;
            border-bottom: 70px solid $main-color;
            border-top: 70px solid transparent;
            border-left: 70px solid transparent;
        }
    }
    .feedbacks {
        &-left-corner {
            border-top: 70px solid transparent;
            border-left: 70px solid $main-color;
            border-bottom: 70px solid $main-color;
            border-right: 70px solid transparent;
        }
    }
}
@media screen and (min-width: 1100px) {
    .fixed-contact-section {
        &-list {
            &-icon {
                &-section {

                }
            }
            &-text {
                font-size: 1.2rem;
            }
            &:hover {

            }
        }
        address.fixed-contact-section-list {

        }
    }
    .services {
        .section-title {
            font-size: 4rem;
        }
        .show-hidden-services {
            padding: 10px 25px;
            font-size: 1.5rem;
        }
    }
    .feedbacks {
        .section-title {
            font-size: 4rem;
        }
        .more-students-button {
            padding: 10px 25px;
            font-size: 1.5rem;
        }
    }
}
@media screen and (min-width: 1200px) {
    .header {
        // padding: 120px;
        &-title {
            font-size: 4rem;
        }
        &-slogan {
            font-size: 2rem;
        }
    }
    .services {
        text-align: right !important;
        .section-title {
            margin-right: 45px !important;
            &-line {
                display: inline-block;
            }
        }
        .show-hidden-services {
            padding: 10px 30px;
            font-size: 1.6rem;
        }
    }
    .feedbacks {
        text-align: right !important;
        .section-title {
            margin-right: 45px !important;
            &-line {
                display: inline-block;
            }
        }
        .more-students-button {
            padding: 10px 30px;
            font-size: 1.6rem;
        }
    }
}
