// #particles-js {
//     position: fixed;
// }
.students {
    box-sizing: border-box;
    padding-top: 180px;
    min-height: 100vh;
    background: #FFFFFF;
    // box-shadow: 0 0 10px 10px rgba(0,0,0,.5);
    position: relative;
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    &-container {
        margin-top: 40px;
    }
    // &-left-corner {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     border-top: 100px solid $main-color;
    //     border-left: 100px solid $main-color;
    //     border-bottom: 100px solid transparent;
    //     border-right: 100px solid transparent;
    // }
    &-right-corner {
        position: absolute;
        right: 0;
        bottom: -1px;
        border-right: 100px solid $main-color;
        border-bottom: 100px solid $main-color;
        border-top: 100px solid transparent;
        border-left: 100px solid transparent;
    }
    .section-title {
        margin-left: -15px;
        margin-right: -15px;
        font-size: 2.5rem;
    }
    .student-item {
        margin-top: 30px;
    }
    .student-image {
        width: 100%;
        padding-bottom: 100%;
        background-image: url("../img/feedback-image.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &-section {
            align-self: center;
        }
    }
    .student-feedback-section {
        align-self: center;
        .feedback-quote-left, .feedback-quote-right {
            font-size: 2rem;
            color: rgba(23, 95, 130, .7) !important;
        }
        .feedback-quote-left {
            float: left;
            padding-right: 7px;
            padding-bottom: 0px;
            margin-top: -10px;
        }
        .feedback-quote-right {
            float: right;
            clear: both;
            padding-left: 7px;
        }
        .student-name-container {
            font-size: 2rem;
            color: $main-color;
            text-align: center;
            margin-top: 30px;
        }
        .student-job-container {
            font-size: 1.4rem;
            color: #666666;
            margin-bottom: 30px;
            text-align: center;
        }
        .student-feedback-container {
            text-align: justify;
        }
    }
}

@media screen and (min-width: 350px) {
   
}
@media screen and (min-width: 350px) and (max-width: 450px) {
    .students {
        .section-title {
            font-size: 3rem;
        }
        .show-hidden-students {
            padding: 10px 20px;

            font-size: 1rem;
            // font-size: .8rem;
        }
    }
    .students {
        .section-title {
            font-size: 3rem;
        }
    }
}
@media screen and (min-width: 451px) and (max-width: 575px) {
    .students {
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {  
}
@media screen and (min-width: 768px)  {
    .students {
        .student-item-left {
            .student-image-section {
                order: 1;
            }
            .student-feedback-section {
                order: 2;
                .student-name-container {
                    text-align: left;
                    margin-top: 0;
                }
                .student-job-container {
                    text-align: left;
                }
                .student-feedback-container {
                    text-align: left !important;
                }
            }
        }
        .student-item-right {
            .student-image-section {
                order: 2;
            }
            .student-feedback-section {
                order: 1;
                .student-name-container {
                    text-align: right;
                    margin-top: 0;
                }
                .student-job-container {
                    text-align: right;
                }
                .student-feedback-container {
                    text-align: right;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {  
    .students {
        .section-title {
            font-size: 3rem;
        }
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .students {
        .section-title {
            font-size: 3.5rem;
        }
    }
}
@media screen and (max-width: 1100px) {
    .students {
        &-left-corner {
            border-top: 70px solid $main-color;
            border-left: 70px solid $main-color;
            border-bottom: 70px solid transparent;
            border-right: 70px solid transparent;
        }
        &-right-corner {
            border-right: 70px solid $main-color;
            border-bottom: 70px solid $main-color;
            border-top: 70px solid transparent;
            border-left: 70px solid transparent;
        }
    }
    .students {
        &-left-corner {
            border-top: 100px solid transparent;
            border-left: 100px solid $main-color;
            border-bottom: 100px solid $main-color;
            border-right: 100px solid transparent;
        }
    }
}
@media screen and (min-width: 1100px) {
    .students {
        .section-title {
            font-size: 4rem;
        }
    }
    .students {
        .section-title {
            font-size: 4rem;
        }
    }
}
@media screen and (min-width: 1200px) {
    .students {
        text-align: right !important;
        .section-title {
            margin-right: 45px !important;
            &-line {
                display: inline-block;
            }
        }
    }
    .students {
        text-align: right !important;
        .section-title {
            margin-right: 45px !important;
            &-line {
                display: inline-block;
            }
        }
    }
}
