.training {
    padding-top: 140px;
    font-family: "Raleway", sans-serif;
    .section-title {
        margin-top: 40px;
    }
    &-section {
        font-family: 'Raleway', sans-serif;
        // padding-top: 40px;
        padding-top: 10px;
        .training-image-container {
            height: 300px;
            margin-bottom: 40px;
          .training-image {
            margin: 0 auto;
            width: 90%;
            height: 100%;
            background-image: url("../img/logos/java.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        .training-program-title {
            color: $main-color;
        }
        .syllabus {
            padding-top: 60px;
            // margin-left: 30px;
            padding-left: 50px;
            &-container {
                &-item {
                    position: relative;
                    display: flex;
                    border-left: 2px solid $main-color;
                }
                &-icon {
                    position: absolute;
                    left: -25px;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    background: $main-color;
                    color: #FFFFFF;
                    @include border-radius(50%);
                    text-align: center;
                    font-size: 1.6rem;
                }
                &-content {
                    padding-bottom: 50px;
                    padding-left: 50px;
                    .paragraph-title {
                        padding-top: 10px;
                        color: $main-color;
                        font-size: 1.6rem;
                        margin-bottom: 1.6rem;
                    }
                    .paragraph-content {
                        color: #444444;
                        padding-bottom: 30px;
                        &-icon {
                            font-size: 1.4rem;
                            color: $main-color;
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }
    &-training {
        color: $main-color;
        &:hover {
            color: $main-color;
            text-decoration: none;
        }
    }
}
@media screen and (max-width: 420px) {
    .training {
        .section-title {
            font-size: 3rem;
        }
    }
}
@media screen and (max-width: 335px) {
    .training {
        .section-title {
            font-size: 2rem;
        }
    }
}
@media screen and (min-width: 768px) {  
    .training {
        padding-bottom: 120px;
        &-section {
            .training-profession{
                text-align: right;
            }
            .training-section-title { 
                font-size: 1rem;
                text-align: left !important;
            }
            .syllabus-container {
                padding-top: 0;
            }
        }
    }
}

@media screen and (min-width: 465px) and (max-width: 1199px) {
    .training-section-title {
        text-align: right !important;
        .section-title {
            display: block;
            margin-right: 45px !important;
            &-line {
                top: -49px;
                right: 0;
                display: inline-block;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .training-section-title {
        text-align: right !important;
        .section-title {
            margin-right: 45px !important;
            &-line {
                display: inline-block;
            }
        }
    }
}