.trainings {
    font-family: "Raleway", sans-serif;
    padding-top: 140px;
    padding-bottom: 40px;
    .section-title {
        margin-top: 40px;
    }
    &-section {
        margin-top: 50px;
        .training-container  {
            padding: 0 !important;
            padding-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-icon {
            font-size: 6rem;
            color: $main-color;
            padding-bottom: 10px;
            &-container {
               
            }
        }
        .trainings-section-title {
            text-align: center !important;
            color: $main-color;
            font-size: 1.2rem;
            font-weight: bold;
        }
        .sub-training-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.2rem;
            color: #666666;
            text-align: center;
            padding-bottom: 30px;
            .sub-training-link {
                color: #666666;
            }
        }
    }
   
}
@media screen and (max-width: 420px) {
    .trainings {
        .section-title {
            font-size: 3rem;
        }
    }
}
@media screen and (max-width: 335px) {
    .trainings {
        .section-title {
            font-size: 2rem;
        }
    }
}
@media screen and (max-width: 767px) {  
    .trainings {
        &-text {
            margin-top: 50px;
        }
    }
}
@media screen and (min-width: 768px) {  
    .trainings {
        padding-bottom: 120px;
        &-section {
            .training-container  { 
                height: 230px;
            }
            &-icon {
                font-size: 9rem;
                &-container {
                    justify-content: flex-end;
                }
            }
            .trainings-section-title { 
                font-size: 1rem;
                text-align: left !important;
            }
            ul {
                margin-bottom: 0;
            }
            .sub-training-container {
                font-size: 1rem;
                text-align: left;

            }
            .sub-training-link {
                color: #444444;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (min-width: 465px) and (max-width: 1199px) {
    .trainings-section-title {
        text-align: right !important;
        .section-title {
            display: block;

            margin-right: 45px !important;
            &-line {
                top: -49px;
                right: 0;
                display: inline-block;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .trainings-section-title {
        text-align: right !important;
        .section-title {
            margin-right: 45px !important;
            &-line {
                display: inline-block;
            }
        }
    }
}