section.fixed-contact-section
    a.fixed-contact-section-list(href='tel:+994514336451')
        .fixed-contact-section-list-icon-section
            i.fixed-contact-section-list-icon.fas.fa-mobile-alt
        span.fixed-contact-section-list-text 051 433 64 51
    a.fixed-contact-section-list(href='tel:+994125990420')
        .fixed-contact-section-list-icon-section
            i.fixed-contact-section-list-icon.fas.fa-phone-volume
        span.fixed-contact-section-list-text 012 599 04 20
    address.fixed-contact-section-list
        .fixed-contact-section-list-icon-section
            i.fixed-contact-section-list-icon.fas.fa-map-marker-alt
        span.fixed-contact-section-list-text Nizami küç. 203B, AF Business House , 4-cü mərtəbə