footer.footer.container-fluid
    .container
        .row
            .footer-section.col-lg-8
                a.footer-list(href='tel:+994514336451')
                    .footer-list-icon-section
                        i.footer-list-icon.fas.fa-mobile-alt
                    span.footer-list-text 051 433 64 51
                a.footer-list(href='tel:+994125990420')
                    .footer-list-icon-section
                        i.footer-list-icon.fas.fa-phone-volume
                    span.footer-list-text 012 599 04 20
                a.footer-list(href='mailto:info@orient-itm.com')
                    .footer-list-icon-section
                        i.footer-list-icon.fas.fa-envelope
                    span.footer-list-text info@orient-itm.com
                address.footer-list
                    .footer-list-icon-section
                        i.footer-list-icon.fas.fa-map-marker-alt
                    span.footer-list-text Nizami küç. 203B, AF Business House , 4-cü mərtəbə
            .footer-section.col-lg-4
                .footer-buttons-section
                    a.footer-buttons.fab.fa-facebook-square(href='#')
                    a.footer-buttons.fab.fa-instagram-square(href='#')
                    a.footer-buttons.fab.fa-linkedin(href='#')
                    a.footer-buttons.fab.fa-google-plus-square(href='#')
                .footer-copyright © Orient ITM, 2020