nav.navbar.navbar-expand-lg.navbar-fixed
    a.navbar-brand(href='/')
        .navbar-brand-bg
        img.navbar-brand-logo.img-fluid(src='img/logo.png')
    button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.icon-span.top-bar
        span.icon-span.middle-bar
        span.icon-span.bottom-bar
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/') Ana səhifə
            li.nav-item
                a.nav-link(href='/about') Haqqımızda
            li.nav-item
                a.nav-link(href='/trainings') Təlimlərimiz
            li.nav-item
                a.nav-link(href='/mentors') Təlimçilərimiz
            li.nav-item
                a.nav-link(href='/students') Tələbələrimiz
            li.nav-item
                a.nav-link(href='/companies') Korporativ müştərilərimiz
            li.nav-item
                a.nav-link(href='/contact') Əlaqə